[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
discord = "*"
discord-bot = {editable = true,path = "."}
python-dotenv = "*"
razator-utils = "*"

[requires]
python_version = "3.12"
